@import "../../scss/variables";

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;

  width: 500px;
  height: 520px;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 3px 3px 8px 0px rgba(34, 60, 80, 0.2);
  .valid {
    height: 15px;
    font-size: 12px;
    p {
      font-size: 10px;
      color: red;
    }
  }
  p {
    font-size: 20px;
  }
  button {
    width: 100%;
    padding: 8px;
  }
  .input {
    display: flex;
    flex-direction: column;
    label {
      font-size: 16px;
    }
    input {
      height: 48px;
      padding: 8px;
      font-size: 14px;
      background-color: #eaeaea;
      border: none;
      border-radius: 8px;
    }
  }
}
