@import "../../scss/variables";

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 265px;
  background-color: $header-background;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 846px;
    min-height: 137px;
    h1 {
      color: white;
      @media (max-width: 479px) {
        font-size: 35px;
      }
    }
    p {
      color: white;
      @media (max-width: 479px) {
        font-size: 12px;
      }
      @media (max-width: 768px) and (min-width: 480px) {
        font-size: 15px;
      }
    }
  }
  :global {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
