@import "../../scss/variables";

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 265px;
  background-color: $header-background;
  img {
    margin-left: 20%;
    border-radius: 50%;
  }

  .text {
    padding-left: 30px;
    p {
      color: white;
      font-weight: 400;
    }
    .text__name {
      font-size: 64px;
      line-height: 75px;
    }
    .text__job {
      font-size: 32px;
      line-height: 38px;
    }
  }

  :global {
    .container {
      display: flex;
      align-items: center;
    }
  }
}
