@import "./variables";

.button {
  background-color: $header-background;
  border-radius: 9px;
  padding: 3px 10px;
  min-width: 75px;
  text-align: center;
  cursor: pointer;
  transition: background-color $duration ease-in-out,
    border-color $duration ease-in-out;
  border: 1px solid white;
  & {
    font-size: 16px;
    color: #fff;
    transition: all $duration ease-in-out;
  }

  &:hover {
    background-color: darken($header-background, 8%);
  }

  &:active {
    background-color: darken($header-background, 12%);
    transform: translateY(1px);
  }
  &__left {
    position: absolute;
    left: 80px;
    top: 32px;
  }
  &__right {
    position: absolute;
    right: 80px;
    top: 32px;
  }
}
