@import "./variables";

.button {
  background-color: $header-background;
  border-radius: 9px;
  padding: 3px 10px;
  min-width: 75px;
  text-align: center;
  cursor: pointer;
  transition: background-color $duration ease-in-out,
    border-color $duration ease-in-out;
  border: 1px solid white;
  & {
    font-size: 16px;
    color: #fff;
    transition: all $duration ease-in-out;
  }

  &:hover {
    background-color: darken($header-background, 8%);
  }

  &:active {
    background-color: darken($header-background, 12%);
    transform: translateY(1px);
  }
  &__left {
    position: absolute;
    left: 80px;
    top: 32px;
  }
  &__right {
    position: absolute;
    right: 80px;
    top: 32px;
    @media (max-width: 479px) {
      right: 25px;
      top: 15px;
      min-width: 25px;
      padding: 1px 1px;
    }
    span {
      font-size: 16px;
      color: #fff;
      @media (max-width: 480px) {
        display: none;
      }
    }
    svg {
      display: none;
      @media (max-width: 479px) {
        display: block;
      }
    }
    @media (max-width: 480px) {
    }
  }
}
