@import "variables";
@import "normalize";
@import "button";

body {
  background-color: $body-background;
}

.wrapper {
  width: calc(100vw - 100px);
  background-color: $content-background;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 1440px;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: $container-width;
  margin: 0 auto;
}
.cards__blok {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  min-height: 65vh;
  padding: 15px 0px;
}
.border--red {
  border: 2px solid red;
}
